@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"),
    url("./fonts/FuturaCyrillicBook.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"),
    url("./fonts/FuturaCyrillicLight.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"),
    url("./fonts/FuturaCyrillicMedium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"),
    url("./fonts/FuturaCyrillicDemi.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"),
    url("./fonts/FuturaCyrillicHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"),
    url("./fonts/FuturaCyrillicBold.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"),
    url("./fonts/FuturaCyrillicExtraBold.woff") format("woff");
}

body {
  font-family: "Futura PT", sans-serif;
  font-weight: 450;
  background-color: rgba(241, 241, 241, 1);
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------HEADER----------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 6px 0px;
}

.company-name {
  text-transform: uppercase;
}
.alt-color {
  text-transform: uppercase;
  color: #ad4844;
}

.main-nav {
  position: relative;
}

.burger-menu {
  position: fixed;
  background-color: #ad4844;
  width: 100%;
  opacity: 0.05;
  top: 0;
  transform: translateY(-150%);
  opacity: 0.05;
  transition: transform 0.5s, opacity 0.1s;
  width: 295px;

  z-index: 1000;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}

.mobile-nav li:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav li a {
  color: #d8d8d8;
  font-size: 13px;
  text-transform: uppercase;
}

.mobile-nav li a:focus {
  color: #fff;
  text-decoration: underline;
}

.burger-btn {
  display: none;
  width: 25px;
  height: 25px;
  text-align: center;
  background: none;
  color: #ad4844;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.burger-btn:active {
  box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.overflow-hidden {
  overflow: hidden;
}

.show-menu {
  transform: translateY(45px);
  opacity: 1;
}

/*---------MAIN-------------*/

.hero-section {
  position: relative;
  padding-top: 60px;
}

.hero-main {
  padding: 0 8.5px;
  padding-bottom: 85px;
}
.hero-description {
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 450;
  line-height: 25.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}
.hero-description-second {
  position: relative;
  font-family: Futura PT;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero-description-second::after {
  content: "";
  display: inline-block;
  background-image: url("./img/Vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 161.8px;
  height: 122px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: -95px;
  right: 0;
  transform: rotate(-18deg);
}

/*-==============Details========*/

.features {
  padding-top: 70px;
}

.features-title {
  font-size: 18px;
  text-align: center;
  line-height: 25.64px;
  position: relative;
  margin-bottom: 70px;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.features-title::before {
  content: "";
  display: inline-block;
  background-image: url("./img/effect.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 90px;
  height: 104px;
  position: absolute;
  bottom: 43px;
  right: -50px;
  transform: rotate(367deg);
}

.features-title::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
  margin: 20px auto 0;
}

.article-1 {
  position: relative;
  padding-bottom: 60px;
}

.article-1-pseudo::before {
  content: "";
  display: inline-block;
  background-image: url("./img/effect.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 90px;
  height: 104px;
  position: absolute;
  bottom: -80px;
  right: 249px;
  transform: rotate(180.2deg);
}

.article-1-pseudo::after {
  content: "";
  display: inline-block;
  background-image: url("./img/effect.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 90px;
  height: 104px;
  position: absolute;
  bottom: -58px;
  right: -49px;
  transform: rotate(446deg);
}

.article-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
  margin: 20px auto 0;
}

.article-1-item {
  margin-bottom: 30px;
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 450;
  line-height: 25.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.article-1-item::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
  margin: 20px auto 0;
}
.article-1-description {
  margin-bottom: 30px;
  font-family: Futura PT;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.article-1-img {
  width: 100%;
}

.article-2 {
}
.article-2-item {
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 450;
  line-height: 25.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 202px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.article-2-item::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
  margin: 20px auto 0;
}

.article-2-description-group {
  margin-bottom: 30px;
}

.article-2-description-group > .article-2-description:first-child {
  margin-bottom: 30px;
}

.article-2-description {
  font-family: Futura PT;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.article-2-description::before {
  content: attr(data-number);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Futura PT;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  color: #111111;
  background-color: #ffffff;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.article-2-group-img {
  display: flex;
  justify-content: space-between;
}

.article-2-img {
  width: 135px;
}

.article-2 > .article-2-img:first-of-type {
  margin-right: 20px;
}
.article-3 {
}
.article-3-item {
}
.article-3-description {
}
.article-3-img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  .desctop-nav {
    display: none;
  }
}
