body {
  font-family: "Futura PT", sans-serif;
  font-weight: 450;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------HEADER----------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 6px 0px;
}

.company-name {
  text-transform: uppercase;
}
.alt-color {
  text-transform: uppercase;
  color: #ad4844;
}

.main-nav {
  position: relative;
}

.burger-menu {
  position: fixed;
  background-color: #ad4844;
  width: 100%;
  opacity: 0.05;
  top: 0;
  transform: translateY(-150%);
  opacity: 0.05;
  transition: transform 0.5s, opacity 0.1s;
  width: 295px;

  z-index: 1000;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}

.mobile-nav li:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav li a {
  color: #d8d8d8;
  font-size: 13px;
  text-transform: uppercase;
}

.mobile-nav li a:focus {
  color: #fff;
  text-decoration: underline;
}

.burger-btn {
  display: none;
  width: 25px;
  height: 25px;
  text-align: center;
  background: none;
  color: #ad4844;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.burger-btn:active {
  box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.overflow-hidden {
  overflow: hidden;
}

.show-menu {
  transform: translateY(45px);
  opacity: 1;
}

/*---------MAIN-------------*/

.hero-section {
  position: relative;
}

.hero-main {
  padding: 0 8.5px;
  padding-bottom: 85px;
}
.hero-description {
  font-family: Futura PT;
  font-size: 20px;
  font-weight: 450;
  line-height: 25.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}
.hero-description-second {
  font-family: Futura PT;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero-section::after {
  content: "";
  display: inline-block;
  background-image: url("./img/Vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 161.8px;
  height: 122px;
  position: absolute;
  top: 482.3px;
  left: -88.9px;
  transform: rotate(-1deg);
}

/*-==============Details========*/

.features {
}

.features-title {
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.article-1 {
}

.article-1-item {
}
.article-1-description {
}
.article-1-img {
}
.article-2 {
}
.article-2-item {
}
.article-2-description {
}
.article-2-img {
}
.article-3 {
}
.article-3-item {
}
.article-3-description {
}
.article-3-img {
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  .desctop-nav {
    display: none;
  }
}
